/* --------------------------*/
// Body
/* --------------------------*/
$body-bg: #f8fafc;

/* --------------------------*/
// Typography
/* --------------------------*/
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* --------------------------*/
// Padding and margin
/* --------------------------*/

$box-shadow: 1px 1px 6px 1px hsla(0, 0%, 80%, 0.7);
$box-shadow-gentle: 1px 1px 5px 0px hsla(0, 0%, 80%, 0.7);

/* --------------------------*/
// Colors
/* --------------------------*/
@function color($color-name) {
  @return map-get($colors, $color-name);
}

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #469dc9;
$primary-light: #82c9ed;
$text-dark: #2a2a2a;
$text-light: #585757;
$bg-white: white;
$bg-gray: #f8f8f8;
$bg-red: #ff6584;

/* --------------------------*/
// Mixins
/* --------------------------*/
@mixin blue-button {
  // background-color: $primary;
  color: white;
  border: none;
  border-radius: 25px;
  background: rgb(70, 157, 201);
  background: -moz-linear-gradient(
    51deg,
    rgba(70, 157, 201, 1) 13%,
    rgba(120, 186, 219, 0.8) 42%,
    rgba(120, 186, 219, 1) 67%,
    rgba(70, 157, 201, 1) 91%
  );
  background: -webkit-linear-gradient(
    51deg,
    rgba(70, 157, 201, 1) 13%,
    rgba(120, 186, 219, 1) 42%,
    rgba(120, 186, 219, 1) 67%,
    rgba(70, 157, 201, 1) 91%
  );
  background: linear-gradient(
    51deg,
    rgba(70, 157, 201, 1) 13%,
    rgba(120, 186, 219, 1) 42%,
    rgba(120, 186, 219, 1) 67%,
    rgba(70, 157, 201, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469dc9",endColorstr="#469dc9",GradientType=1);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: rgb(120, 186, 219);
    background: -moz-linear-gradient(
      51deg,
      rgba(120, 186, 219) 13%,
      rgba(70, 157, 201, 1) 42%,
      rgba(70, 157, 201, 1) 67%,
      rgba(120, 186, 219) 91%
    );
    background: -webkit-linear-gradient(
      51deg,
      rgba(120, 186, 219) 13%,
      rgba(70, 157, 201, 1) 42%,
      rgba(70, 157, 201, 1) 67%,
      rgba(120, 186, 219) 91%
    );
    background: linear-gradient(
      51deg,
      rgba(120, 186, 219) 13%,
      rgba(70, 157, 201, 1) 42%,
      rgba(70, 157, 201, 1) 67%,
      rgba(120, 186, 219) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469dc9",endColorstr="#469dc9",GradientType=1);
  }
}

@mixin blue-gradient-bg {
  background: rgb(120, 186, 219);
  background: -moz-linear-gradient(
    51deg,
    rgba(120, 186, 219) 13%,
    rgba(70, 157, 201, 1) 42%,
    rgba(70, 157, 201, 1) 67%,
    rgba(120, 186, 219) 91%
  );
  background: -webkit-linear-gradient(
    51deg,
    rgba(120, 186, 219) 13%,
    rgba(70, 157, 201, 1) 42%,
    rgba(70, 157, 201, 1) 67%,
    rgba(120, 186, 219) 91%
  );
  background: linear-gradient(
    51deg,
    rgba(120, 186, 219) 13%,
    rgba(70, 157, 201, 1) 42%,
    rgba(70, 157, 201, 1) 67%,
    rgba(120, 186, 219) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469dc9",endColorstr="#469dc9",GradientType=1);
}

@mixin white-button {
  color: $text-dark;
  border: none;
  border-radius: 25px;
  background: $bg-white;
  cursor: pointer;
  transition: all 0.3s ease;
}

@mixin section-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @include sm-devices {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md-devices {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@mixin title-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  @include sm-devices {
    margin-top: 0;
  }

  .section-title {
    font-size: 2.3em;
    color: $text-dark;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;

    @include sm-devices() {
      font-size: 2.4em;
    }

    @include md-devices() {
      font-size: 2.5em;

    }
  }

  .section-additional-text {
    font-size: 1.2em;
    color: $text-light;
    width: 100%;
    text-align: center;
    margin: 20px auto;

    @include md-devices {
      width: 80%;
    }

    @include lg-devices {
      width: 60%;
    }
  }
}

/* --------------------------*/
/* Breakpoints */
/* --------------------------*/
$xs-devices: 350px;
$sm-devices: 540px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

@mixin xs-devices {
  @media (min-width: #{$xs-devices}) {
    @content;
  }
}

@mixin sm-devices {
  @media (min-width: #{$sm-devices}) {
    @content;
  }
}

@mixin md-devices {
  @media (min-width: #{$md-devices}) {
    @content;
  }
}

@mixin lg-devices {
  @media (min-width: #{$lg-devices}) {
    @content;
  }
}

@mixin xl-devices {
  @media (min-width: #{$xl-devices}) {
    @content;
  }
}
