/* --------------------------*/
// Estimate Section
/* --------------------------*/
.estimate-section {
  background-color: $bg-white;
  padding-top: 80px;
  padding-bottom: 80px;

  .estimate-wrapper {
    .estimate-title-wrapper {
      .title-wrapper {
        @include title-wrapper;
      }
    }

    .estimate-content-wrapper {
      .estimate-details-wrapper {
        .estimate-details-title {
          width: 100%;

          h3 {
            font-size: 1.3em;
            margin-bottom: 45px;
            font-weight: 600;
          }
        }

        .estimate-details {
          margin-bottom: 40px;

          .estimate-detail-single {
            margin-right: 30px;

            h4 {
              font-size: 0.85em;
              font-weight: 600;
              color: $text-light;
              margin-bottom: 14px;

              span {
                color: $bg-red;
              }
            }

            input {
              overflow: visible;
              border: none;
              padding: 15px 0px;
              border-bottom: 2px solid #d2d2d2;
              width: 100%;
              transition: all 0.3s;
              outline: none !important;

              &:focus {
                border-bottom: 2px solid $primary;
              }

              &::placeholder {
                color: #d2d2d2;
              }
            }

            .error-msg {
              font-size: 0.76em;
              color: $bg-red;
              font-weight: 600;
              margin-top: 8px;
              display: none;
            }
          }
        }
      }

      .estimate-services-wrapper {
        .estimate-services-title {
          width: 100%;

          h3 {
            font-size: 1.3em;
            margin-bottom: 45px;
            font-weight: 600;
            margin-top: 20px;
          }
        }

        .estimate-services {
          .estimate-services-single {
            cursor: pointer;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 30px 20px;
            border: 2px solid #d2d2d2;
            min-height: 253px;
            opacity: 0.6;
            transition: all 0.3s;

            &:hover {
              opacity: 1;
              border: 2px solid $primary;
            }

            img {
              display: block;
              margin: auto;
              max-width: 60px;
            }

            h2 {
              text-align: center;
              font-size: 1.1em;
              font-weight: 600;
              margin: 22px auto 8px auto;
              line-height: 1.3em;
            }

            p {
              line-height: 1.5em;
              text-align: center;
            }
          }
        }
      }

      .estimate-additional-wrapper {
        .estimate-additional-title {
          width: 100%;

          h3 {
            font-size: 1.3em;
            margin-bottom: 45px;
            font-weight: 600;
            margin-top: 20px;
          }
        }

        .estimate-additional-info {
          margin-bottom: 20px;

          label {
            display: block !important;
            margin: 0 auto 10px auto;
          }

          textarea {
            display: block !important;
            width: 100%;
            border: 2px solid #d2d2d2;
            padding: 6px;
            outline: none !important;

            &:focus {
              box-shadow: 0 0 3px $primary;
            }
          }
        }
      }

      .estimate-file-wrapper {
        .estimate-file-title {
          width: 100%;

          h3 {
            font-size: 1.3em;
            margin-bottom: 45px;
            font-weight: 600;
            margin-top: 20px;
          }
        }

        .estimate-file-upload {
          label {
            width: 100%;
            height: 100px;
            background: #fbfbfb;
            border: 2px solid #d2d2d2;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              display: none;
            }

            div {
              img {
                display: inline-block;
                width: 60px;
              }

              p {
                display: inline-block;
                margin: auto;
                color: #d2d2d2;
                text-transform: uppercase;
                font-size: 1.1em;
                font-weight: 600;
                margin-left: 15px;
              }
            }
          }
        }
      }

      .estimate-submit-wrapper {
        margin-top: 65px;

        .estimate-submit-privacy {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: 20px auto;

          label {
            display: block;
            cursor: pointer;
            margin: auto;

            .label-text {
              &::before {
                content: url("/svg/checkbox1.svg");
                display: inline-block;
                top: 2px;
                position: relative;
                margin-right: 10px;
              }

              a {
                color: inherit;
                text-decoration: underline;
              }
            }

            input {
              display: none;

              &:checked + .label-text {
                color: $primary;

                &::before {
                  content: url("/svg/checkbox2.svg");
                  display: inline-block;
                  top: 2px;
                  position: relative;
                  margin-right: 10px;
                }
              }
            }
          }
        }

        .estimate-submit-button {
          width: 100%;
          justify-content: center;

          button {
            @include blue-button;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 30px;
            font-size: 1.1em;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}
