/* --------------------------*/
// Estimate Section
/* --------------------------*/
.estimate-section {
  background-color: $bg-white;
  padding-top: 80px;
  padding-bottom: 80px;

  .estimate-wrapper {
    .estimate-title-wrapper {
      .title-wrapper {
        @include title-wrapper;
      }
    }

    .estimate-content-wrapper {
      form {
        .main-msg-wrapper {
          margin-bottom: 30px;

          .main-msg {
            width: 100%;
            padding: 10px 15px;
            text-align: center;
            line-height: 1.7em;
            border-radius: 5px;
            margin-bottom: 10px;

            p {
              margin: 0;

              .tooltip {
                font-weight: 500;
                position: relative;
                display: inline-block;
                opacity: 1;
                cursor: pointer;
                font-size: inherit;

                .tooltiptext {
                  visibility: hidden;
                  width: fit-content;
                  background-color: $primary;
                  color: $text-white;
                  text-align: center;
                  border-radius: 6px;
                  padding: 5px 13px;
                  position: absolute;
                  z-index: 1;
                  opacity: 0;
                  transition: opacity 0.3s;
                  font-size: 1em;
                  text-decoration: none;
                  top: -33px;
                  left: 50%;
                  transform: translate(-50%, 0px);

                  &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $primary transparent transparent transparent;
                  }
                }

                &:hover {
                  color: $primary;

                  .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                  }
                }

                &:active {
                  text-decoration: underline;
                }
              }
            }
          }

          .main-msg-danger {
            border: 1px solid $danger;
            background: $danger-bg;

            p {
              color: $danger;
            }
          }

          .main-msg-success {
            border: 1px solid $succes;
            background: $succes-bg;

            p {
              color: $succes;
            }
          }

          .main-msg-warning {
            border: 1px solid $warning;
            background: $warning-bg;

            p {
              color: $warning;
            }
          }

          .main-msg-primary {
            border: 1px solid $text-light;
            background: $bg-white;

            p {
              color: $text-light;
            }
          }
        }

        .estimate-details-wrapper {
          .estimate-details-title {
            width: 100%;

            h3 {
              font-size: 1.3em;
              margin-bottom: 45px;
              font-weight: 600;
            }
          }

          .estimate-details {
            margin-bottom: 40px;

            .estimate-detail-single {
              margin-right: 30px;

              h4 {
                font-size: 0.85em;
                font-weight: 600;
                color: $text-light;
                margin-bottom: 14px;

                span {
                  color: $bg-red;
                }
              }

              input {
                overflow: visible;
                border: none;
                border-radius: 0;
                padding: 15px 0px;
                border-bottom: 2px solid #d2d2d2;
                width: 100%;
                transition: all 0.2s;
                outline: none !important;
                color: $primary;

                &:focus {
                  border-bottom: 2px solid $primary;

                  // below not working, why?
                  label {
                    color: $primary !important;
                  }
                }

                &::placeholder {
                  color: $text-placeholder;
                }
              }

              .input-success {
                border-bottom: 2px solid $primary;
              }

              .input-danger {
                border-bottom: 2px solid $red;
              }

              .msg {
                font-size: 0.85em;
                text-align: right;
              }
              .msg-danger {
                color: $red;
              }
            }
          }
        }

        .estimate-services-wrapper {
          .estimate-services-title {
            width: 100%;

            h3 {
              font-size: 1.3em;
              margin-bottom: 45px;
              font-weight: 600;
              margin-top: 20px;
            }
          }

          .estimate-services {
            .estimate-services-single {
              cursor: pointer;
              margin-right: 20px;
              margin-bottom: 20px;
              padding: 30px 20px;
              border: 2px solid #d2d2d2;
              min-height: 253px;
              opacity: 0.6;
              transition: all 0.2s;

              &:hover {
                opacity: 1;
                border: 2px solid $primary;
              }

              img {
                display: block;
                margin: auto;
                max-width: 60px;
              }

              h2 {
                text-align: center;
                font-size: 1.1em;
                font-weight: 600;
                margin: 22px auto 8px auto;
                line-height: 1.3em;
              }

              p {
                line-height: 1.5em;
                text-align: center;
              }

              input {
                display: none;
              }
            }

            .selectedService {
              opacity: 1 !important;
              border: 2px solid $primary !important;
            }
          }
        }

        .estimate-additional-wrapper {
          .estimate-additional-title {
            width: 100%;

            h3 {
              font-size: 1.3em;
              margin-bottom: 45px;
              font-weight: 600;
              margin-top: 20px;
            }
          }

          .estimate-additional-info {
            margin-bottom: 20px;

            label {
              display: block !important;
              margin: 0 auto 10px auto;
            }

            textarea {
              display: block !important;
              width: 100%;
              border: 2px solid #d2d2d2;
              padding: 6px;
              outline: none !important;
              transition: all 0.2s;

              &:focus {
                border: 2px solid $primary;
              }
            }

            .textarea-success {
              border: 2px solid $primary;
            }
          }
        }

        .estimate-file-wrapper {
          .estimate-file-title {
            width: 100%;

            h3 {
              font-size: 1.3em;
              margin-bottom: 45px;
              font-weight: 600;
              margin-top: 20px;
            }
          }

          .estimate-file-upload {
            label {
              width: 100%;
              min-height: 100px;
              background: #fbfbfb;
              display: flex;
              justify-content: center;
              align-items: center;

              input {
                display: none;
              }

              button {
                border: none;
                border: 2px solid #d2d2d2;
                width: 100%;
                min-height: 100px;
                background: none;
                height: 100%;
                outline: none;

                &:focus {
                  border: 2px solid $primary;
                }

                img {
                  display: inline-block;
                  width: 60px;
                }

                p {
                  display: inline-block;
                  margin: auto;
                  color: #d2d2d2;
                  text-transform: uppercase;
                  font-size: 1.1em;
                  font-weight: 600;
                  margin-left: 15px;
                }

                .uploadedFileNames {
                  color: $primary;
                }
              }

              .button-success {
                border: 2px solid $primary;
              }
            }
          }
        }

        .privacy-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: 20px auto;
          margin-top: 60px;

          label {
            cursor: pointer;
            margin: auto;
            display: flex;
            align-items: center;

            .label-text {
              a {
                color: inherit;
                text-decoration: underline;
              }
            }

            input {
              margin-right: 4px;
              width: 15px;
              height: 15px;

              &:checked + .label-text {
                color: $primary;
              }
            }
          }

          .msg-policy {
            font-size: 0.85em;
            display: block !important;
            width: 100% !important;
            text-align: center !important;
            margin-top: 4px !important;
          }
          .msg-danger {
            color: $red;
          }
        }

        .submit-wrapper {
          width: 100%;

          button {
            @include blue-button;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 30px;
            font-size: 1.1em;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}
