/* --------------------------*/
// Header Section
/* --------------------------*/
.main-nav {
  box-shadow: $box-shadow !important;

  .container {
    align-items: center;

    .navbar-phone {
      display: block;
      background: $primary;
      border-radius: 50%;
      padding: 12px;
      cursor: pointer;
      transition: all 0.3s;
      @include blue-gradient-bg;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      @include md-devices {
        display: none;
      }

      a {
        text-decoration: none;
        color: inherit;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .navbar-brand {
      margin: auto;
      padding-bottom: 14px;

      .nav-logo {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        margin-left: 35px;

        @include md-devices {
          margin: auto;
        }

        .logo-pixels {
          font-size: 34px;
          font-family: sans-serif;
          font-weight: bold;
          color: #171717;
          margin: 0;

          .logo-x {
            @include gradient-text;
          }

          .logo-group {
            position: relative;
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            margin: 0;
            text-align: right;
            right: 46px;
            top: 20px;
          }
        }
      }
    }

    .navbar-toggler {
      border: none;
      outline: none;

      .navbar-burger {
        display: block;
        width: 35px;
        height: 5px;
        background-color: $text-dark;
        margin: 6px 0;
      }
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          text-align: center;

          .nav-link {
            font-family: "Ubuntu", sans-serif;
            color: $text-light;

            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.3s;

            padding: 18px;
            font-size: 1.2em;

            &:hover {
              @include gradient-text;
            }

            @include md-devices {
              font-size: 1em;
              padding: 8px 10px;
            }
          }
        }
      }
    }

    .navbar-phone-number {
      display: none;
      cursor: pointer;
      transition: all 0.3s;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      @include md-devices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 18px;
        margin-left: 20px;
        @include blue-gradient-bg;
        border-radius: 25px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
      }

      a {
        text-decoration: none;
        margin: auto;
        font-family: "Ubuntu", sans-serif;
        color: white;
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
